<div class="logo-container">
    <img src="{{ asset("images/logo.svg") }}" alt="logo"/>
    <div class="header-title-container">
        <h1 class="wave-text"><span>BUC</span><span>KET</span> <span>LI</span><span>ST</span></h1>
    </div>
</div>
<div class="navbar bg-body-color flex-column">
    {% if not app.user %}
    <div>
        <a href="{{ path('app_login') }}"><button class="btn btn-secondary me-2">Log in</button></a>
        <a href="{{ path('app_register') }}"><button class="btn btn-secondary me-2">Register</button></a>
    </div>
    {% endif %}
    {% if app.user %}
        <div class="mt-3">
            You are logged in as <span class="text-decoration-underline">{{ app.user.userIdentifier }}</span>, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
</div>
<nav class="navbar bg-body-color">
    <div class="container-fluid justify-content-start">
        <a href="{{ path('app_home') }}"><button class="btn btn-outline-primary me-2" type="button">Home</button></a>
        <a href="{{ path('app_about') }}"><button class="btn btn-sm btn-outline-secondary me-2" type="button">About</button></a>
        <a href="{{ path('app_contact') }}"><button class="btn btn-sm btn-outline-secondary me-2" type="button">Contact</button></a>

        <a href="{{ path('wish_list') }}"><button class="btn btn-outline-primary me-2">All wishes</button></a>
        {% if app.user %}
            <a href="{{ path('wish_new') }}"><button class="btn btn-sm btn-outline-secondary me-2" type="button">Add a wish</button></a>
        {% endif %}
    </div>
</nav>