<div class="logo-container">
    <img src="{{ asset("images/logo.svg") }}" alt="logo"/>
    <h1>BUCKET LIST</h1>
</div>
<nav class="navbar bg-body-color">
    <div class="container-fluid justify-content-start">
        <a href="{{ path('app_home') }}"><button class="btn btn-outline-primary me-2" type="button">Home</button></a>
        <a href="{{ path('app_about') }}"><button class="btn btn-sm btn-outline-secondary me-2" type="button">About</button></a>
        <a href="{{ path('app_contact') }}"><button class="btn btn-sm btn-outline-secondary me-2" type="button">Contact</button></a>

        <a href="{{ path('wish_list') }}"><button class="btn btn-outline-primary me-2">All wishes</button></a>
    </div>
</nav>