{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - About {% endblock %}

{% block body %}

    <div class="container">

        <h2 class="fw-black mt-2">Liste des membres de la team :</h2>
        <div class="d-flex">
            {% for item in json %}

                <div class="card m-3 justify-content-center" style="width: 26rem;">
                    <img src="{{ item.picture }}" class="card-img-top object-fit-cover" alt="...">
                    <div class="card-body">
                        <p class="card-text fw-bold fs-2">{{ item.firstname }} {{ item.lastname }} {% if item.firstname == 'Fabien' %} &#9829; {% endif %} </p>
                        <p class="card-text fst-italic">Né le {{ item.dateOfBirth | date('d-m-Y') }}</p>
                        <p class="card-text">Créateur de: <span class="text-decoration-underline">{{ item.creatorOf }}</span></p>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}
