{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Détail wish {% endblock %}

{% block body %}
    <section id="wish-detail">
        <div>
            <h1>{{ wish.title }}</h1>
            <p><strong>Créé le :</strong> {{ wish.dateCreatedAt|date('d/m/Y H:i') }} par : {{ wish.author }}</p>
        </div>

        <div class="m-4">
                <img class="shadow bg-body-primary rounded" src="{{ asset("uploads/" ~ wish.image) }}" alt="wish-image" />
        </div>

        <div>
            <p>{{ wish.description }}</p>
        </div>

        <div>
            <a href="{{ path('wish_edit', {id: wish.id}) }}"><button type="button" class="d-inline-block btn btn-warning">Edit</button></a>
            <a href="{{ path('wish_delete', {id: wish.id}) }}"><button type="button" class="d-inline-block btn btn-danger">Delete</button></a>
        </div>
    </section>

    {# TODO: ajouter image #}
{% endblock %}