{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Détail wish {% endblock %}

{% block body %}
    <h1>Détail du Souhait : {{ wish.title }}</h1>
    <p><strong>Description :</strong> {{ wish.description }}</p>
    <p><strong>Créé le :</strong> {{ wish.dateCreatedAt|date('d/m/Y H:i') }} par : {{ wish.author }}</p>
    {# TODO: ajouter image #}
{% endblock %}