{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Liste wish {% endblock %}

{% block body %}

    <h2>Liste des Wishes:</h2>
    <ul>
        {% for wish in wishes %}
            <li><a href="{{ path('wish_detail', {id: wish.id}) }}">{{ wish.title }}</a></li>
            <li>{{ wish.description }}</li>
            <li>{{ wish.dateCreatedAt|date('d/m/Y H:i') }}</li>
        {% endfor %}
    </ul>

{% endblock %}