{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Liste wish {% endblock %}

{% block body %}

    <h2>Liste des Wishes:</h2>

    <div class="container-sm text-center">
        {% for wish in wishes %}
        <div class="row border-bottom border-primary mb-1 p-1">
            <div class="col-2">
                <a href="{{ path('wish_detail', {id: wish.id}) }}">
                    {{ wish.title }}<br/>
                    {% for categories in wish.categories %}
                    [{{ categories }}]
                    {% endfor %}
                </a>
            </div>
            <div class="col-6">
                {{ wish.description }}
            </div>
            <div class="col-2">
                Créé le {{ wish.dateCreatedAt|date('d/m/Y H:i') }}
            </div>
            <div class="col-2">
                <a href="{{ path('wish_edit', {id: wish.id}) }}"><button type="button" class="d-inline-block btn btn-warning">Edit</button></a>
                <a href="{{ path('wish_delete', {id: wish.id}) }}"><button type="button" class="d-inline-block btn btn-danger" onclick="return confirm('Really???')">Delete</button></a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}