<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List{% endblock %}</title>
    <link rel="icon"
          href="{{ asset("images/favicon.png") }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>



<header>
    <div class="logo-container">
        <img src="{{ asset("images/logo.svg") }}" alt="logo"/>
        <h1>BUCKET LIST</h1>
    </div>
    <nav class="navbar bg-body-color">
        <div class="container-fluid justify-content-start">
            <a href="{{ path('app_home') }}"><button class="btn btn-outline-primary me-2" type="button">Home</button></a>
            <a href="{{ path('app_about') }}"><button class="btn btn-sm btn-outline-secondary" type="button">About</button></a>
        </div>
    </nav>
</header>

{# Le block body ci-dessous sera remplacé par les mêmes blocks des autres pages #}
<main>
    {% block body %}


    {% endblock %}
</main>

<footer>
    <p>@Bucket-List &copy; 2025</p>
</footer>
</body>
</html>
